a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  
}
body {
  background: -webkit-linear-gradient(bottom, #DB7093, #DDA0DD);
  background-repeat: no-repeat;
  background-image:url(./Gambar/11Z_2102.w026.n002.127B.p1.127.jpg);
  background-size:cover;
}
label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}
#forgot-pass {
  color: #C71585;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  text-align: right;
}

#card {
  background: #fbfbfb;
  border-radius: 10px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 440px;
  width: 329px;
  margin: 6rem auto 8.1rem auto;
}
#card-content {
  padding: 15px 45px;
}
#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#signup {
  color: #C71585;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}
#submit-btn {
  background: -webkit-linear-gradient(right, #DB7093, #DDA0DD);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #9400D3;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}
#submit-btn:hover {
  box-shadow: 0px 1px 18px #FFEFD5;
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.form-border {
  background: -webkit-linear-gradient(right, #DB7093, #DDA0DD);
  height: 1px;
  width: 100%;
}
.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}
.underline-title {
  background: -webkit-linear-gradient(right, #DB7093, #DDA0DD);
  height: 3px;
  margin: -1.1rem auto 0 auto;
  width: 200px;
}